

/*IMAGES*/
div.row img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 10px;
	width: 115px;
}

#napoli{
	width: 61.3em;	
}


/*TIPOGRAPHY*/

p.footer-p{
	text-align: center;
}

@font-face{
	font-family: 'Salome';
	src: url('fonts/Salome_Fine_Italic.otf');
}